<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {% if aCssAssetList %}
      {% for sCssPath in aCssAssetList %}
        <link rel='stylesheet' href='/{{ sCssPath }}' />
      {% endfor %}
    {% endif %}

    {% if aJsAssetList %}
      {% for sJsPath in aJsAssetList %}
        <script src="/{{ sJsPath }}"></script>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="wrap">
      <div class="header">
      header
      </div>
      <div class="left">
      {{ sLeftMenuHtml }}
      </div>
      <div class="content">
      content


